@font-face {
  font-family: 'M PLUS Code Latin';
  src: url('../fonts/MPlusLatin/MPLUSCodeLatinExpanded-Regular.woff2')
      format('woff2'),
    url('../fonts/MPlusLatin/MPLUSCodeLatinExpanded-Regular.woff')
      format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'M PLUS Code Latin Medium';
  src: url('../fonts/MPlusLatin/MPLUSCodeLatinExpanded-Medium.woff2')
      format('woff2'),
    url('../fonts/MPlusLatin/MPLUSCodeLatinExpanded-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'M PLUS Code Latin Bold';
  src: url('../fonts/MPlusLatin/MPLUSCodeLatin-Bold.woff2') format('woff2'),
    url('../fonts/MPlusLatin/MPLUSCodeLatin-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --clr-primary: #ffffff;
  --clr-header: #e2efff;
  --clr-header-bg: #113f67;
  --clr-text: #002749;
  --clr-text-secondary: #003563;
  --font-family-base: 'M Plus Code Latin', 'Calibri';
  --font-family-medium: 'M Plus Code Latin Medium', 'Calibri';
  --font-family-bold: 'M Plus Code Latin Bold', 'Calibri';
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.3rem;
  --font-size-2xl: 1.5rem;
  --line-height-base: 1.5;
  --space-xxs: 0.25rem;
  --space-xs: 0.5rem;
  --space-s: 1rem;
  --space-m: 1.5rem;
  --space-l: 2rem;
  --space-xl: 3rem;
  --btn-clr-primary: var(--clr-text);
  --btn-clr-secondary: #ea5b6f;
}

body {
  color: var(--clr-text);
  font: var(--font-size-base) var(--font-family-base);
  line-height: var(--line-height-base);
}

header {
  background-color: var(--clr-header-bg);
  width: 100vw;
  margin: 0;
  padding: var(--space-l);
  margin-bottom: var(--space-l);

  color: var(--clr-primary);
  text-align: center;
  font: var(--font-size-2xl) var(--font-family-bold);
}

h2 {
  color: var(--clr-text);
  font: var(--font-size-2xl) var(--font-family-bold);
  font-weight: 600;
  border-bottom: 3px solid var(--clr-text);
  margin-top: var(--space-l);
  margin-bottom: var(--space-l);
  padding-bottom: var(--space-s);
}

